<div class="row">
    <div class="col-12">

        <!-- Titulo -->
        <div class="row no-gutters">
            <div class="col-12 border-bottom mb-4 pl-0 pb-2">
                <span class="title-section">{{'label.resume' | translate}}</span>
            </div>
        </div>

        <!-- Widgets -->
        <div class="row no-gutters">
            <div class="col-md-6 col-12 pr-md-2">
                <app-widget-stadistics></app-widget-stadistics>
            </div>
            <div class="col-md-6 col-12 pl-md-2">
                <app-widget-last-comments></app-widget-last-comments>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-12">
                <app-widget-last-visits></app-widget-last-visits>
            </div>
        </div>

    </div>
</div>