/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    
}

html body{
    overflow: hidden;
    background: #e6e6e6;
}

.spinner {
    z-index: 3;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay{
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: hsla(0, 0%, 100%, .6);
    cursor: default
}

.title-section{
    font-size: 23px;
}